.video-fundo-storyfire2 {
    position: relative;
    width: 100vw;   /* Largura de 100% da viewport */
    height: 100vh;  /* Altura de 100% da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;       /* Centraliza verticalmente */
    left: 50%;      /* Centraliza horizontalmente */
    width: 100%;    /* Faz com que o vídeo tenha largura de 100% */
    height: 100%;   /* Faz com que o vídeo tenha altura de 100% */
    object-fit: cover;  /* Garante que o vídeo cubra toda a área sem distorção */
    transform: translate(-50%, -50%); /* Centraliza o vídeo */
    z-index: -1;    /* Coloca o vídeo no plano de fundo, atrás de outros elementos */
}
