.story-container5 {
    z-index: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.overlay {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2; /* Acima do iframe */
}

.button-continue-ground3 {
    position: absolute;
    background-image: url("../../public/images/MenuFire1.png");
    z-index: 4;
    width: 300px; /* Largura exata do botão */
    height: 70px;  /* Altura exata do botão */
    top: 88%;      /* Posição do botão */
    left: 77%;     /* Posição do botão */
    
    /* Ajuste de background */
    background-size: contain; /* Faz a imagem se ajustar dentro da área sem cortar */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    
    /* Opções de layout */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Overflow não é mais necessário */
}

.button-return-ground3 {
    position: absolute;
    background-image: url("../../public/images/Story6-2.png");
    z-index: 4;
    width: 300px; /* Largura exata do botão */
    height: 70px;  /* Altura exata do botão */
    top: 88%;      /* Posição do botão */
    left: -0%;     /* Posição do botão */
    
    /* Ajuste de background */
    background-size: contain; /* Faz a imagem se ajustar dentro da área sem cortar */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    
    /* Opções de layout */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Overflow não é mais necessário */
}